$cerulean: #00A8E8;
$gunmetal: #2F323A;
$ivory: #FFFFF2;

.gm-style-iw {
  color: $gunmetal;
  border: 1px solid $ivory;
}

.gm-style {
}

.gm-style .gm-style-iw-c .gm-style-iw-d {

}

.station-info-box {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
