@import 'foundation';
@import 'util/color';
@include add-foundation-colors;
$ivory: #FFFFF2;

.review-container {
  border: 1px solid black;
  margin: auto;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  font-weight: 170;
}

.review-box {
  margin-top: 5px;
  margin: auto;
}

.form-box {
  border-radius: 30px;
  margin: auto;
}

.rating-box {
  width: 45px;
}

.form-comment-box {
  width: 100%;
  margin: auto;
}

h3 {
  font-weight: 170;
}

.station-info-box {
  text-align: left;
  font-weight: 150;
  font-size: 22px;
}

.station-popup-box {
  font-size: 17px;
  text-align: center;
  max-width: 200px;
  font-weight: 440;
}

.station-page-map {
  display: inline-grid;
}

.info-text {
  text-decoration: underline;
  color: $ivory;
}
