@import 'foundation';
@import 'util/color';
@include add-foundation-colors;

.review-container {
  border: 1px solid black;
  margin: auto;
  align-items: center;
  background-color: #fff;
  padding: 20px;
}

.review-box {
  margin-top: 5px;
  margin: auto;
}

.form-box {
  border-radius: 30px;
  margin: auto;
}

.rating-box {
  width: 45px;
}

.form-comment-box {
  width: 100%;
  margin: auto;
}

.station-info-box {
  text-align: left;
}
